*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Main Section Styles */
main{
  height: 100vh;
  width: 100vw;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
}

/* Hero Section Style */

.hero{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  color: white;
  height: inherit;
  text-align: center;
}

.hero-item{
  grid-row: 3/ span 2;
  align-content: center;
  grid-column: 2;
  font-size: 44px;
}

.parag{
  grid-row: 4;
  grid-column: 2;
  font-size: 22px;
}

.cta1{
  grid-row: 5;
  grid-column: 1;
  color: white;
  text-align: center;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.605);
  height: 2rem;
  border-radius: 2rem;
}

.cta1:hover{
  background: rgba(0, 0, 0, 0.75);;
  transition: .3s ease-in-out;
}
.cta2{
  grid-row: 5;
  grid-column: 3;
  text-align: center;
  color: white;

  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.605);
  height: 2rem;
  border-radius: 2rem;
}

.cta2:hover{
  background: rgba(0, 0, 0, 0.75);
  transition: .3s ease-in-out;
}

.parts{
  height: 100vh;
}