@media all and (max-width: 700px){
  /* Nav for Mobile */
  .navbar .list-items{
    margin-right: 0;
    float: left;
  }

  .navbar .site-name{
    padding-left: 30px;
    width: 100vw;
  }

  .navbar .list-items .items,
  .navbar .list-items .dropdown-items .dropdown-list{
    display: block;
    width: 100vw;
  }
  
  /* Sets layout of mobile navbar */
  .navbar .list-items .dropdown-items{
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover{
    color: cyan;
  }

  .icon{
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show + a, .list-items{
    display: none;
  }

  [id^=btn]:checked + .list-items{
    display: block;
  }
}